<table border="1">
  <tr>
    <th>State Name</th><th>County Name</th><th>Coordinator Firstname</th><th>Coordinator Last Name</th><th>Address</th><th>Phone</th><th>Email</th><th>City</th><th>Zipcode</th>
  </tr>
  <% @states.each do |u| %>
		<% u.coordinators.each do |coordinator| %>

  <tr>
   <td><%= coordinator.state.name %></td><% if coordinator.county %><td><%= coordinator.county.name %><% else %><td>MISSING</td><% end %><td><%= coordinator.firstname %></td><td><%= coordinator.lastname %></td><td><%= coordinator.street %></td><td><%= coordinator.phone_home %></td><td><%= coordinator.email %></td><td><%= coordinator.city %></td><td><%= coordinator.zipcode %></td>

		<% end %>
  <% end %>
 </tr>
</table>
