<p id="notice"><%= notice %></p>

<h1><%= @county.name %> </h1>
<% if @county.coordinator.firstname %>
<h2>Connect With County Coordinator <%= @county.coordinator.firstname %> <%= @county.coordinator.lastname %></h2>
<p><%= @county.coordinator.email %><%= @county.coordinator.phone_mobile %></p>
<% end %>



<%= link_to 'Edit', edit_county_path(@county) %> |
<%= link_to 'Back', counties_path %>
