<p id="notice"><%= notice %></p>

<h1><%= @county.name %> - <%= @county.state.name %> </h1>
<% unless @county.coordinator.nil? || @county.coordinator == 0 %>
<h3>Connect With County Coordinator <%= @county.coordinator.firstname %> <%= @county.coordinator.lastname %></h3>
<p>Would you like to get involved in <%= @county.name %>? We would love your help. Please contact <%= @county.coordinator.firstname %> <%= @county.coordinator.lastname %> using one of the methods below. 
<p><% unless @county.coordinator.email.nil? %>Email <%= @county.coordinator.firstname %>: <a href="<%= @county.coordinator.email %>"><%= @county.coordinator.email %></a><% end %><br /> <% unless @county.coordinator.phone_home.nil? %>Home Phone: <%= @county.coordinator.phone_home %><% end %></p>
<% else %>
<h2>Your County Still Needs A Coordinator!</h2>
<h2>
	Purpose</h2>
<ul>
	<li>
		To increase awareness of the deep spiritual need in today&rsquo;s America and to pursue a new Christ awakening in our nation</li>
	<li>
		To encourage all to seek a contemporary spiritual awakening across the nation and to challenge today&rsquo;s church in welcoming and discipling new generations of American youth</li>
	<li>
		To issue a wake-up call for revival in the church and a Christ awakening in the nation by utilizing unified activity, various forms of media, and highly visible events</li>
	<li>
		To collaborate together in prayer, fasting, and God inspired action to impact the nation&rsquo;s non-Christian population</li>
	<li>
		To lay a foundation for continued local efforts toward united prayer and evangelism</li>
</ul>
<h2>
	Coordinator Responsibilities</h2>
<ul>
	<li>
		To plan, coordinate, and promote a Cry Out America interdenominational prayer gathering on September 11, 2011, following the guidelines listed below:</li>
	<li>
		Enlist a prayer team to cover the event in advance prayer</li>
	<li>
		Solicit local church involvement in praying for the event</li>
	<li>
		Build a leadership/mobilization team involving a broad spectrum of the body of Christ in your county and delegate tasks to members of the leadership team</li>
	<li>
		Secure any necessary permits (if applicable) to hold a gathering</li>
	<li>
		Share the vision for Cry Out America with local pastors, civic leaders, and other Christians in your county and utilize Cry Out America promotional resources which are available through the website and in the coordinator&rsquo;s packet you will receive</li>
	<li>
		Coordinate all program elements including any production needs</li>
	<li>
		Share a brief report through the website on what happened at Cry Out America in your county</li>
	<li>
		Solicit a professional photographer who is willing to donate&nbsp;his/her&nbsp;time and talent taking photographs and video at your Cry Out America prayer gathering in order to capture the event and render their photographs and video, free of charge, to be placed on the Website and possibly in local newspapers and/or other publications. We will be happy to give the photographer full credit on anything posted</li>
</ul>
<h2>
	Coordinator Qualifications</h2>
<ul>
	<li>
		Born again disciple of Jesus Christ</li>
	<li>
		Agree with basic statement of belief of Awakening America</li>
	<li>
		Connected and in good standing with your local church</li>
	<li>
		Heart for prayer and the lost in your state/region</li>
	<li>
		Willingness to abide by guidelines of Cry Out America leadership</li>
	<li>
		Basic leadership skills</li>
</ul><br /><br />
<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">
var m7p1a7 = new WufooForm();
m7p1a7.initialize({
'userName':'socialmedia101', 
'formHash':'m7p1a7', 
'autoResize':true,
'height':'907', 
'ssl':true});
m7p1a7.display();
</script>
<% end %>

<%= link_to 'Back', states_path %>
